In [43]:
import pandas as pd

In [44]:
import datetime
import random

In [45]:
def randomDate(start, end, n):
    frmt = '%d-%m-%Y %H:%M:%S'
    stime = datetime.datetime.strptime(start, frmt)
    etime = datetime.datetime.strptime(end, frmt)
    td = etime - stime
    return [random.random() * td + stime for _ in range(n)]

In [46]:
runId = randomDate("01-05-2022 13:30:00", "23-10-2022 04:50:34",30)
runExtraList = [random.choice(runId) for _ in range(120)]
runIDList = runId+ runExtraList

In [47]:
len(runList)

150

In [48]:
dataset = ["dataset_"+ str(i) for i in range(50)]
dataExtraList = [random.choice(dataset) for _ in range(100)]
datasetList = dataset+ dataExtraList

In [49]:
metricsList = ["metrics"+ str(i) for i in range(150)]

In [50]:
metricsValue = [random.random() for _ in range(150)]

In [52]:
df = pd.DataFrame({"run_id":runIDList,"dataset_name":datasetList,"metric":metricsList,"value":metricsValue})

In [57]:
df2 = df.sort_values(by=['run_id'])

In [58]:
df2

                        run_id dataset_name      metric     value
69  2022-05-08 19:33:05.257898   dataset_41   metrics69  0.993947
81  2022-05-08 19:33:05.257898   dataset_15   metrics81  0.987096
110 2022-05-08 19:33:05.257898    dataset_3  metrics110  0.954339
142 2022-05-08 19:33:05.257898   dataset_15  metrics142  0.941489
6   2022-05-08 19:33:05.257898    dataset_6    metrics6  0.038965
..                         ...          ...         ...       ...
63  2022-10-15 05:47:56.298946   dataset_30   metrics63  0.453815
114 2022-10-15 05:47:56.298946   dataset_46  metrics114  0.468651
73  2022-10-20 06:35:11.540598   dataset_22   metrics73  0.379810
120 2022-10-20 06:35:11.540598   dataset_16  metrics120  0.557881
11  2022-10-20 06:35:11.540598   dataset_11   metrics11  0.205091

[150 rows x 4 columns]

In [60]:
df2.to_csv('dummy_data.csv',index=False)